@media screen and (min-aspect-ratio: 3/4) {
    body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

        padding: 0 0 0 0;
        margin: 0 0 0 0;
    }
    
    #page {
        display: block;
        position: absolute;
        width: 808pt;
        top: 18pt;
        left: 0;
        right: 0;
        margin: auto;
    }

    #title {
        color: #404040;
        font-weight: bold;
        font-size: 18.36pt;
        letter-spacing: -0.02em;
        padding-bottom: 9pt;
    }

    #menu {
        position: fixed;
        height: 100%;
        color: #404040;
        font-weight: normal;
        font-size: 18pt;
        line-height: 0.4em;
        padding-left: 29pt;
        padding-right: 29pt;
        background-color: #ffffff;
        z-index: 999;
    }

    .menu-item {
        cursor: pointer;
    }

    .menu-item:hover {
        color: #d0d0d0;
    }
    
    #work-highlight {
        display: none;
    }
    
    #work-highlight:checked ~ label {
        color: #d0d0d0;
    }

    #work-menu {
        display: none;
        color: #a0a0a0;
        font-size: 15pt;
        margin-left: 1em;
    }
    
    #page-title {
        color: #404040;
        font-weight: bold;
        font-size: 18.36pt;
        letter-spacing: -0.02em;
        line-height: 0.4em;
        padding-left: 9pt;
        padding-bottom: 7.8pt;
    }
    
    #content {
        width: 567pt;
        padding-left: 171pt;
        margin-left: 29pt;
        text-align: center;
    }
    
    .content-item {
        display: inline-block;
        float: left;
        width: 180pt;
        margin-left: 9pt;
        margin-bottom: 18pt;
        vertical-align: top;
        font-size: 11.12pt;
        line-height: 0.6em;
    }
    
    .content-item:hover {
        opacity: 0.4;
    }
    
    .contact-icon {
        display: block;
        width: 60pt;
        margin-left: auto;
        margin-right: auto;
    }
    
    .contact-descriptor {
        color: #404040;
        font-weight: bold;
    }

    #copyright-desktop {
        color: #808080;
        font-weight: normal;
        font-size: 12pt;
        padding-top: 18pt;
    }
    
    #copyright-mobile {
        display: none;
    }

    a:any-link {
        text-decoration: none;
        color: inherit;
    }
}

@media screen and (max-aspect-ratio: 3/4) {
    body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

        padding: 0 0 0 0;
        margin: 0 0 0 0;
    }
    
    #page {
        
    }

    #title {
        position: absolute;
        left: 4vw;
        color: #404040;
        font-weight: bold;
        font-size: 4.08vw;
        letter-spacing: -0.02em;
    }
    
    #about {
        display: inline-block;
        padding-right: 2vw;
    }
    
    #work {
        display: inline-block;
        padding-right: 2vw;
    }
    
    #contact {
        display: inline-block;
    }

    #menu {
        position: fixed;
        width: 92vw;
        top: 0;
        text-align: right;
        color: #404040;
        font-weight: normal;
        font-size: 4vw;
        line-height: 0.4em;
        background-color: #ffffff;
        padding-top: 3vw;
        padding-bottom: 1vw;
        padding-left: 4vw;
        padding-right: 4vw;
        z-index: 999;
    }

    .menu-item {
        cursor: pointer;
    }

    .menu-item:hover {
        color: #d0d0d0;
    }
    
    #work-highlight {
        display: none;
    }
    
    #work-highlight:checked ~ label {
        color: #d0d0d0;
    }

    #work-menu {
        display: none;
        position: absolute;
        width: 92vw;
        left: 0;
        text-align: center;
        color: #a0a0a0;
        font-size: 4vh;
        line-height: 0.4em;
        background-color: #ffffff;
        padding-top: 24vh;
        padding-bottom: 100vh;
        padding-left: 4vw;
        padding-right: 4vw;
    }
    
    #page-title {
        color: #404040;
        font-weight: bold;
        font-size: 5vw;
        padding-right: 2vw;
    }
    
    #content {
        display: block;
        position: relative;
        width: 94vw;
        top: 16vw;
        left: 4vw;
        text-align: center;
    }
    
    .content-item {
        display: block;
        float: left;
        width: 92vw;
        margin-right: 2vw;
        margin-top: 8vw;
        margin-bottom: 4vw;
        vertical-align: top;
        font-size: 3vw;
        line-height: 0.4em;
    }
    
    .content-item:hover {
        opacity: 0.4;
    }
    
    .contact-icon {
        width: 16vw;
        background-color: #d0d0d0;
    }
    
    .contact-descriptor {
        color: #404040;
        font-weight: bold;
/*        padding-top: 1vw;*/
    }
    
    #copyright-desktop {
        display: none;
    }

    #copyright-mobile {
        display: inline-block;
        width: 92vw;
        color: #808080;
        font-weight: normal;
        font-size: 3vw;
        margin-top: 12vw;
        margin-bottom: 5vw;
        padding-right: 2vw;
        text-align: center;
    }

    a:any-link {
        text-decoration: none;
        color: inherit;
    }
}