@media screen and (min-aspect-ratio: 3/4) {
    body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

        padding: 0 0 0 0;
        margin: 0 0 0 0;
    }

    #cover-mobile {
        display: none;
    }

    #cover-desktop {
        display: block;
        position: relative;
        height: 100vh;
        margin-left: auto;
        margin-right: auto;
    }

    #overflow-wrapper {
        position: relative;
        overflow: hidden;
    }

    #title {
        color: #404040;
        font-weight: bold;
        font-size: 3.06vh;
        letter-spacing: -0.02em;
        padding-bottom: 1.5vh;
    }

    #menu {
        display: block;
        position: absolute;
        top: 3vh;
        left: 8vw;
        color: #404040;
        font-weight: normal;
        font-size: 3vh;
        line-height: 0.4em;
    }

    .menu-item {
        cursor: pointer;
    }

    .menu-item:hover {
        color: #d0d0d0;
    }
    
    #work-highlight {
        display: none;
    }
    
    #work-highlight:checked ~ label {
        color: #d0d0d0;
    }

    #work-menu {
        display: none;
        color: #a0a0a0;
        font-size: 2.43vh;
        margin-left: 1em;
    }

    #copyright-desktop {
        color: #808080;
        font-weight: normal;
        font-size: 1.85vh;
        padding-top: 3vh;
    }
    
    #copyright-mobile {
        display: none;
    }

    a:any-link {
        text-decoration: none;
        color: inherit;
    }
}

@media screen and (max-aspect-ratio: 3/4) {
    body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

        padding: 0 0 0 0;
        margin: 0 0 0 0;
    }

    #cover-mobile {
        display: block;
        position: absolute;
        height: 95vh;
        max-height: 160vw;
        max-width: 100vw;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    #cover-desktop {
        display: none;
    }

    #overflow-wrapper {
        display: none;
    }

    #title {
        position: absolute;
        left: 0;
        color: #404040;
        font-weight: bold;
        font-size: 4.08vw;
        letter-spacing: -0.02em;
    }
    
    #about {
        display: inline-block;
        padding-right: 2vw;
    }
    
    #work {
        display: inline-block;
        padding-right: 2vw;
    }
    
    #contact {
        display: inline-block;
    }

    #menu {
        display: block;
        position: absolute;
        width: 92vw;
        height: 95vh;
        top: 3vw;
        left: 4vw;
        text-align: right;
        color: #404040;
        font-weight: normal;
        font-size: 4vw;
        line-height: 0.4em;
    }

    .menu-item {
        cursor: pointer;
    }

    .menu-item:hover {
        color: #d0d0d0;
    }
    
    #work-highlight {
        display: none;
    }
    
    #work-highlight:checked ~ label {
        color: #d0d0d0;
    }

    #work-menu {
        display: none;
        position: absolute;
        width: 100%;
        top: 30vh;
        text-align: center;
        color: #a0a0a0;
        font-size: 4vh;
    }
    
    #copyright-desktop {
        display: none;
    }

    #copyright-mobile {
        display: block;
        position: absolute;
        bottom: 5vw;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        color: #808080;
        font-weight: normal;
        font-size: 3vw;
    }

    a:any-link {
        text-decoration: none;
        color: inherit;
    }
}