body {
  background-color: #314051;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -moz-font-size-adjust: none;
  -webkit-font-size-adjust: none;
  font-size-adjust: none;
  font-size: 10pt;
  margin: 0;
}

.content {
  width: 90em;
  max-width: 100%;
  margin: auto;
  padding: 0 1em;
}

#nav {
  position: fixed;
  width: 100%;
  height: 4em;
  background-color: rgba(84, 100, 116, 0.9);
  -webkit-backdrop-filter: blur(0.4em);
  backdrop-filter: blur(0.4em);
  border-bottom: 0.1em solid #708090;
  z-index: 999;
}

#nav-logo {
  position: relative;
  left: 0.35em;
  top: 0.35em;
  height: 2.5em;
}

#nav-logo-wrapper {
  position: relative;
  top: 0.4em;
  width: 3.2em;
  height: 3.2em;
  border-radius: 0.3em;
  margin: auto;
}

/* TODO: Uncomment this block when functions are implemented */
/* #nav-logo-wrapper:hover {
  background-color: #708090;
} */

#gallery {
  width: calc(100% + 1px); /* +1px gives margin for rounding error */
  padding-top: 5em;
  padding-bottom: 1em;
}

.photo-wrapper {
  position: relative;
  display: inline-block;
  width: 18em;
  height: 18em;
  border-radius: 0.6em;
}

/* TODO: Uncomment this block when functions are implemented */
/* .photo-wrapper:hover {
  background-color: #516071;
} */

.photo {
  position: relative;
  top: 1em;
  left: 1em;
  width: 16em;
  height: 16em;
  z-index: 1;
}

.shadow {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 0;
}

#footer {
  height: 4em;
  border-top: 0.1em solid #516071;
  line-height: 0;
  margin: 0 1em;
}

#copyright {
  float: left;
  font-weight: bold;
  color: #516071;
  padding-top: 0.3em;
}

#footer-logo {
  float: right;
  height: 1.2em;
  padding-top: 0.8em;
}

/* TODO: Implement robust footer */
/* #footer {
  width: 100%;
  height: 6em;
  background-color: #091019;
  border-top: 0.1em solid #516071;
} */

@media screen and (max-width: 920pt) {  /* 920pt = ((90em content) + (2em padding)) * 10pt */
  .content {
    width: 72em; /* 4 columns */
  }
}

@media screen and (max-width: 740pt) {  /* 740pt = ((72em content) + (2em padding)) * 10pt */
  .content {
    width: 54em; /* 3 columns */
  }
}

@media screen and (max-width: 560pt) {  /* 560pt = ((54em content) + (2em padding)) * 10pt */
  .content {
    width: 36em; /* 2 columns */
  }
}

@media screen and (max-aspect-ratio: 3/4), (max-width: 380pt) {  /* 380pt = ((36em content) + (2em padding)) * 10pt */
  body {
    font-size: 2.631vw; /* mobile mode */
  }

  .content {
    width: 36em; /* 2 columns */
  }
}
