:root {
	--gray-lo: #252525;
	--gray-mid-lo: #616161;
	--gray-mid-hi: #9D9D9D;
	--gray-hi: #D9D9D9;
	
	--rule-weight: 0.08em;
	--rule-color-dark: rgba(217, 217, 217, 0.3);
}

body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size-adjust: none;
	-moz-font-size-adjust: none;
	-webkit-font-size-adjust: none;
	font-size: 10pt;
	margin: 0;
	padding: 4em 0 0 0;
}

/*
@media screen and (min-width: 1200px) {
	body {
		font-size: 11pt;
	}
}
*/

.content {
	width: 70em;
	max-width: 100%;
	margin: auto;
}

.elements {
	margin: 0 1em;
}

.nav {
	position: fixed;
	top: 0;
	width: 100%;
	-webkit-backdrop-filter: blur(0.6em);
	backdrop-filter: blur(0.6em);
}

#nav-condensed {
	color: var(--gray-lo);
	background-color: rgba(255, 255, 255, 0.8);
}

#nav-expanded {
	display: none;
	opacity: 0;
	height: 100%;
	color: #FFF;
	background-color: rgba(37, 41, 55, 0.8);
}

.nav-bar {
	width: 100%;
	height: 3em;
}

#nav-bar-light {
	border-bottom: var(--rule-weight) solid var(--gray-hi);
}

#nav-bar-dark {
	border-bottom: var(--rule-weight) solid var(--rule-color-dark);
}

#site-title {
	position: relative;
	top: 1.167em;
	font-weight: bold;
	font-size: 1.333em;
	line-height: 0;
	margin-top: 0;
}

.light-select:hover {
	background-color: rgba(37, 37, 37, 0.1);
}

.dark-select:hover {
	background-color: rgba(217, 217, 217, 0.12);
}

#menu-icon-img {
	display: block;
	height: 1em;
	margin: 0.62em auto;
}

#exit-icon-img {
	display: block;
	height: 1.259em;
	margin: 0.49em auto;
}

.nav-icon-select {
	position: relative;
	float: right;
	top: 0.38em;
	width: 2.24em;
	height: 2.24em;
	border-radius: 0.31em;
	margin-right: -0.31em;
}

#menu {
/*	display: none;*/
	font-size: 1em;
	line-height: 0;
}

.menu-item {
	height: 3em;
	margin: 0;
	border-bottom: var(--rule-weight) solid var(--rule-color-dark);
}

/*
.sub-menu {
	display: none;
}

.sub-menu-item {
	height: 2.24em;
	margin-left: 1.24em;
}
*/

.menu-item-select {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	width: calc(100% + 0.62em);
	height: 1.12em;
	margin-left: -0.62em;
	padding: 1.12em 0 0 0.62em;
	border-radius: 0.31em;
}

/*
.sub-menu-item-select {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	width: calc(100% + 0.62em);
	height: 0.9em;
	margin-left: -0.62em;
	padding: 0.9em 0 0 0.62em;
	border-radius: 0.31em;
}
*/

#memo {
/*	display: none;*/
	position: absolute;
	bottom: 0.62em;
	width: 100%;
	line-height: 0;
	letter-spacing: 0.12em;
	color: rgba(255, 255, 255, 0.4);
}

#memo-elements {
	padding-top: 0.2em;
	border-top: 0.04em solid var(--rule-color-dark);
}

#copyright {
	float: left;
	font-size: 0.6em;
}

#dedication {
	float: right;
	font-size: 0.6em;
}

#artwork {
	display: block;
	height: calc(100vh - 3em);
	min-width: 70em;
	min-height: 46.667em;
	margin: 3em auto 0 auto;
}

.content-image {
	width: 100%;
}

a:any-link {
	color: inherit;
	text-decoration: none;
}