@import url(http://fonts.googleapis.com/css?family=Ek+Mukta:100,200,300,400,500,600,700,800); 

/* background-color: 2E3C4C */

body { 
    margin: 0 0 0 0;
    background-color: #2E3C4C; 
    font-family: "Ek Mukta", sans-serif;
    color: #DFDFDF; 
} 

#header { 
    display: block;
    position: fixed;
    width: 100%; 
    height: 80px; 
    background-color: #2E3C4C; 
    z-index: 1000;
} 

#menu {
    position: relative;
    top: 9px;
    float: right; 
    margin-right: 186px;
} 

#menu li { 
    display: inline;
    text-decoration: none; 
    font-size: 1.2em;
    font-weight: 400;
    padding: 1.5em;
    color: #DFDFDF; 
} 

#menu a { 
    color: #DFDFDF;
    text-decoration: none;
}

#menu a:hover { 
    color: #00E29E;
} 

#header-logo { 
    position: fixed; 
    top: 14px;
    left: 12px;
} 

#login { 
    display: block;
    position: fixed; 
    top: 18px;
    right: 0;
    width: 140px; 
    height: 44px; 
    margin-right: 16px;
    background-color: #00E29E;
    border-radius: 5px; 
    z-index: 1001;
}

#login p { 
    position: relative; 
    top: -13px;
    text-align: center;
    font-size: 1.2em;
    font-weight: 400; 
    color: #2E3C4C;
} 

#login:hover { 
    background-color: #4CFFCA;
} 

#background { 
    display: block;
    width: 100%;
    height: 100%;
    font-size: 0;
} 

#background-img { 
    width: 100%; 
    font-size: 0;
} 

#title { 
    position: absolute; 
    width: 100%; 
    top: 27.5%; 
    z-index: 999;
} 

#main-title { 
    text-align: center;
    font-size: 6vw;
    font-weight: 100; 
    line-height: 0.1;
} 

#sub-title { 
    text-align: center;
    font-size: 1.15vw;
    font-weight: 500; 
    line-height: 0.1;
} 

#sign-up { 
    display: block;
    position: absolute; 
    transform: translate(-50%, 0);
    left: 50%;
    top: 114%;
    width: 15%; 
    height: 33%; 
    background-color: #00E29E;
    border-radius: 1vw; 
    z-index: 999;
} 

#sign-up p { 
    text-align: center; 
    position: relative; 
    top: -24%; 
    color: #2E3C4C; 
    font-size: 1.8vw; 
    font-weight: 400; 
} 

#sign-up:hover { 
    background-color: #4CFFCA; 
} 

.info-right { 
    display: block;
    background-color: #EEEEEE;
    width: 100%; 
    height: 75%;
    margin: 0;
    float: left;
    clear: none;
} 

.info-right p { 
    color: #2E3C4C;
} 

.info-left { 
    display: block;
    background-color: #DFDFDF; 
    width: 100%; 
    height: 75%; 
    margin: 0; 
    float: left;
    clear: none;
} 

.info-left p { 
    color: #2E3C4C; 
} 

.title-right { 
    font-size: 3.5vw;
    font-weight: 100;
    text-align: center;
    padding-left: 20%;
    padding-right: 50%;
    line-height: 1.3;
} 

.copy-right { 
    font-size: 1.5vw;
    text-align: center;
    padding-left: 20%;
    padding-right: 50%;
    padding-bottom: 35px;
    line-height: 2;
} 

.title-left { 
    font-size: 3.5vw;
    font-weight: 100;
    text-align: center;
    padding-left: 50%;
    padding-right: 20%;
    line-height: 1.3;
} 

.copy-left { 
    font-size: 1.5vw;
    text-align: center;
    padding-left: 50%;
    padding-right: 20%;
    padding-bottom: 35px;
    line-height: 2;
} 

#glyph-1 { 
    position: relative; 
    width: 7.3%;
    top: 2.5vw;
    left: 35%;
    transform: translate(-50%, 0); 
} 

#glyph-2 { 
    position: relative; 
    width: 7.3%;
    top: 2.5vw;
    left: 65%;
    transform: translate(-50%, 0); 
} 

#glyph-3 { 
    position: relative; 
    width: 7.3%;
    top: 2.5vw;
    left: 35%;
    transform: translate(-50%, 0); 
} 

#glyph-4 { 
    position: relative; 
    width: 7.3%;
    top: 2.5vw;
    left: 65%;
    transform: translate(-50%, 0); 
} 

#img-1 { 
    width: 26%;
    float: right;
    padding-right: 20%;
    padding-left: 60%; 
    position: absolute;
    transform: translate(0, -112.5%) 
} 

#img-2 { 
    width: 26%;
    float: left;
    padding-right: 60%;
    padding-left: 20%; 
    position: absolute;
    transform: translate(0, -121%) 
} 

#img-3 { 
    width: 26%;
    float: right;
    padding-right: 20%;
    padding-left: 60%; 
    position: absolute;
    transform: translate(0, -115%) 
} 

#img-4 { 
    width: 26%;
    float: left;
    padding-right: 60%;
    padding-left: 20%; 
    position: absolute;
    transform: translate(0, -121%) 
} 

#footer { 
    display: block;
    width: 100%; 
    height: 0;
    background-color: #2E3C4C;
} 

#copyright { 
    text-align: center;
} 