@media screen and (min-aspect-ratio: 3/4) {
    body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
    }
    
    #page {
        display: block;
        position: absolute;
        width: 808pt;
        top: 18pt;
        left: 0;
        right: 0;
        margin: auto;
    }

    #title {
        color: #404040;
        font-weight: bold;
        font-size: 18.36pt;
        letter-spacing: -0.02em;
        padding-bottom: 9pt;
    }

    #menu {
        position: fixed;
        height: 100%;
        color: #404040;
        font-weight: normal;
        font-size: 18pt;
        line-height: 0.4em;
        padding-left: 29pt;
        padding-right: 29pt;
        background-color: #ffffff;
        z-index: 999;
    }

    .menu-item {
        cursor: pointer;
    }

    .menu-item:hover {
        color: #d0d0d0;
    }
    
    #work-highlight {
        display: none;
    }
    
    #work-highlight:checked ~ label {
        color: #d0d0d0;
    }

    #work-menu {
        display: none;
        color: #a0a0a0;
        font-size: 15pt;
        margin-left: 1em;
    }
    
    #page-title {
        color: #404040;
        font-weight: bold;
        font-size: 18.36pt;
        letter-spacing: -0.02em;
        line-height: 0.4em;
        padding-bottom: 7.8pt;
    }
    
    #page-previous {
        color: #a0a0a0;
        font-weight: bold;
        font-size: 18.36pt;
        letter-spacing: -0.02em;
        line-height: 0.4em;
        margin-left: -16.61pt;
        padding-bottom: 4pt;
    }
    
    #page-previous:hover {
        color: #d0d0d0;
    }
    
    #back-arrow {
        height: 13pt;
        vertical-align: top;
        margin-top: -0.15em;
    }
    
    #content {
        width: 567pt;
        margin-left: 29pt;
        padding-left: 189pt;
        padding-bottom: 36pt;
    }
    
    .content-item {
        display: inline-block;
        float: left;
        width: 183pt;
        margin-right: 6pt;
        margin-bottom: 10pt;
        vertical-align: top;
        font-size: 12pt;
        line-height: 0.6em;
    }
    
    .content-item:hover {
        opacity: 0.4;
    }
    
    .content-image {
        width: 183pt;
        height: 183pt;
        background-color: #e8e8e8;
    }
    
    .content-title {
        color: #404040;
        font-weight: bold;
        padding-top: 3pt;
    }
    
    .content-subtitle {
        color: #a0a0a0;
        font-weight: normal;
    }
    
    .article-title {
        color: #404040;
        font-weight: bold;
        font-size: 32pt;
        letter-spacing: -0.02em;
        line-height: 1.15em;
        margin-top: -9pt;
        margin-bottom: 0.4em;
    }
    
    .article-subtitle {
        color: #404040;
        font-weight: bold;
        font-size: 15pt;
        line-height: 1.25em;
        margin-top: 0;
        margin-bottom: 2em;
    }
    
    .article-section {
        color: #808080;
        font-size: 12pt;
        line-height: 1.25em;
        margin-top: 0;
        margin-bottom: 2em;
    }
    
    .section-heading {
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 1em;
    }
    
    .section-body {
        font-weight: normal;
        margin-top: 0;
        margin-bottom: 0.6em;
    }
    
    .article-item {
        width: 561pt;
        margin-top: 36pt;
        margin-bottom: 36pt;
    }
    
    .article-image {
        width: 100%;
        margin-bottom: 6pt;
    }
    
    .caption {
        color: #808080;
        font-weight: normal;
        font-size: 10pt;
        line-height: 1.25em;
        margin-top: 6pt;
    }
    
    .code {
        background: #f6f6f6;
        overflow: auto;
        width: 524.5pt;
        border: solid #e0e0e0;
        border-width: 0 0 0 4.5pt;
        font-size: 10pt;
        padding: 4pt 16pt;
    }
    
    video {
        width: 100%;
        margin-bottom: 6pt;
    }

    #copyright-desktop {
        color: #808080;
        font-weight: normal;
        font-size: 12pt;
        padding-top: 18pt;
    }
    
    #copyright-mobile {
        display: none;
    }

    a:any-link {
        text-decoration: none;
        color: inherit;
    }
}

@media screen and (max-aspect-ratio: 3/4) {
    body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
    }
    
    #title {
        position: absolute;
        left: 4vw;
        color: #404040;
        font-weight: bold;
        font-size: 4.08vw;
        letter-spacing: -0.02em;
    }
    
    #about {
        display: inline-block;
        padding-right: 2vw;
    }
    
    #work {
        display: inline-block;
        padding-right: 2vw;
    }
    
    #contact {
        display: inline-block;
    }

    #menu {
        position: fixed;
        width: 92vw;
        top: 0;
        text-align: right;
        color: #404040;
        font-weight: normal;
        font-size: 4vw;
        line-height: 0.4em;
        background-color: #ffffff;
        padding-top: 3vw;
        padding-bottom: 1vw;
        padding-left: 4vw;
        padding-right: 4vw;
        z-index: 999;
    }

    .menu-item {
        cursor: pointer;
    }

    .menu-item:hover {
        color: #d0d0d0;
    }
    
    #work-highlight {
        display: none;
    }
    
    #work-highlight:checked ~ label {
        color: #d0d0d0;
    }

    #work-menu {
        display: none;
        position: absolute;
        width: 92vw;
        left: 0;
        text-align: center;
        color: #a0a0a0;
        font-size: 4vh;
        line-height: 0.4em;
        background-color: #ffffff;
        padding-top: 20vh;
        padding-bottom: 100vh;
        padding-left: 4vw;
        padding-right: 4vw;
        
    }
    
    #page-title {
        color: #404040;
        font-weight: bold;
        font-size: 5vw;
        padding-right: 2vw;
        text-align: center;
    }
    
    #page-previous {
        color: #a0a0a0;
        font-weight: bold;
        font-size: 5vw;
        padding-right: 6.52vw;
        text-align: center;
    }
    
    #page-previous:hover {
        color: #d0d0d0;
    }
    
    #back-arrow {
        height: 3.54vw;
        vertical-align: top;
        margin-top: 1.4vw;
    }
    
    #content {
        display: block;
        position: relative;
        width: 94vw;
        top: 16vw;
        left: 4vw;
    }
    
    .content-item {
        display: inline-block;
        float: left;
        width: 45.25vw;
        margin-right: 1.5vw;
        margin-bottom: 3vw;
        vertical-align: top;
        font-size: 3vw;
        line-height: 0.4em;
    }
    
    .content-item:hover {
        opacity: 0.4;
    }
    
    .content-image {
        width: 45.25vw;
        height: 45.25vw;
        background-color: #e8e8e8;
    }
    
    .content-title {
        color: #404040;
        font-weight: bold;
        padding-top: 1vw;
    }
    
    .content-subtitle {
        color: #a0a0a0;
        font-weight: normal;
    }
    
    .article-title {
        color: #404040;
        font-weight: bold;
        font-size: 8vw;
        letter-spacing: -0.02em;
        line-height: 1.15em;
        margin-top: -0.1em;
        margin-bottom: 0.4em;
        padding-right: 2vw;
    }
    
    .article-subtitle {
        color: #404040;
        font-weight: bold;
        font-size: 4vw;
        line-height: 1.25em;
        margin-top: 0;
        margin-bottom: 2em;
        padding-right: 2vw;
    }
    
    .article-section {
        color: #808080;
        font-size: 4vw;
        line-height: 1.25em;
        margin-top: 0;
        margin-bottom: 2em;
    }
    
    .section-heading {
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 1em;
    }
    
    .section-body {
        font-weight: normal;
        margin-top: 0;
        margin-bottom: 0.6em;
    }
    
    .article-item {
        width: 92vw;
        margin-top: 12vw;
        margin-bottom: 12vw;
    }
    
    .article-image {
        width: 100%;
        margin-bottom: 1.5vw;
    }
    
    .caption {
        color: #808080;
        font-weight: normal;
        font-size: 3vw;
        line-height: 1.25em;
        margin-top: 1.5vw;
    }
    
    .code {
        background: #f6f6f6;
        overflow: auto;
        width: 85vw;
        border: solid #e0e0e0;
        border-width: 0 0 0 1vw;
        font-size: 3vw;
        padding: 3vw 3vw;
    }
    
    video {
        width: 100%;
        margin-bottom: 1.5vw;
    }
    
    #copyright-desktop {
        display: none;
    }

    #copyright-mobile {
        display: inline-block;
        width: 92vw;
        color: #808080;
        font-weight: normal;
        font-size: 3vw;
        margin-top: 12vw;
        margin-bottom: 5vw;
        padding-right: 2vw;
        text-align: center;
    }

    a:any-link {
        text-decoration: none;
        color: inherit;
    }
}