<div id='menu'>
	<div class='content'>
		<div class='menu-item'>
			<a class='dark-select menu-item-select' href='/engineering/engineering.html'>Engineering</a>
		</div>
		<div class='menu-item'>
			<a class='dark-select menu-item-select' href='/design/design.html'>Design</a>
		</div>
		<div class='menu-item'>
			<a class='dark-select menu-item-select' href='/music/music.html'>Music</a>
		</div>
		<div class='menu-item'>
			<a class='dark-select menu-item-select' href='/photos/photos.html'>Photos</a>
		</div>
	</div>
</div>
<div id='credits'>
	<div class='content'>
		<div id='credits-elements'>
			<p id='copyright'>&#169;&thinsp;2021</p>
			<p id='dedication'>TO GOD BE THE GLORY</p>
		</div>
	</div>
</div>