<div id='modal'>
	<div class='nav' id='modal-nav'>
		<div class='content'>
			<a class='site-path-block dark-select' href='/'>
				<div class='site-title'>Brady Hartog</div>
			</a>
			<div class='site-path-block'>
				<div class='site-section' id='site-section-dark'></div>
			</div>
			<div class='dark-select nav-icon-select' onclick='hideModal()'>
				<img class='exit-icon-img' src='/global/icons/exit-white.svg'>
			</div>
		</div>
	</div>
	<div id='modal-content'>
		<div class='modal-content-container'></div>
	</div>
</div>